@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(50, 50, 50);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.body {
  display: flex;
}
canvas {
  margin: auto;
  margin-top: 110px;
}
button {
  font-family: "Poppins", sans-serif;
}
